#folder {
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 110px;
}

#file-img {
  max-width: 65px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
}
