#sidebar {
  width: 180px;
  height: 535px;
  padding-left: 20px;
  padding-top: 15px;
  border-right: 1px solid rgb(55, 55, 55);
}

#sidebar h2 {
  font-size: 15px;
  color: rgb(188, 188, 188);
}

#sidebar-links p {
  font-size: 15px;
  color: white;
  padding: 7px;
  padding-left: 15px;
  border-radius: 8px;
  width: 140px;
  height: 20px;
}

#sidebar-links a {
  text-decoration: none;
}

#corner-buttons {
  padding-bottom: 20px;
}

#corner-buttons img {
  width: 13px;
  padding: 3px;
}

#sidebar-links p:hover {
  background-color: #696969;
  transition: all 0.4s;
}
