#home-page {
  text-align: center;
  padding: 20% 0;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -75px;

  animation-name: fadeInFromBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

#home-page h3 {
  font-weight: bold;
  color: #5b5b5b;
}
